@media screen and (max-width:500px) {
    .form{
        background-color: green;
    }
}
@media screen and (min-width:600px) {
    .form{
        background-color: orange;
    }
}
.form{
    border: 1px solid;
    padding: 20px;
    margin: 0 30% 0 30%;
    width: 40%;
}
input,label,button{
    margin: 10px 10px;
}
h1{
    text-align: center;
}